django
djangorestframework
django-cors-headers
django-storages
pillow
psycopg2-binary
django-widget-tweaks
django-filter
djangorestframework-simplejwt
django-environ
channels
channels_redis
daphne
django-rest-passwordreset
PyJWT